<!DOCTYPE>

<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache">                                 
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/vault.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/scripts/script.js"></script>
        <link href="favicon.ico" rel="icon" type="image/x-icon" />
        <title>
            Stash
        </title>


    </head>

    <body id="stash_body">
        <div id="stash_title">
            STASH
        </div>
        <div>
            <table class="stash_table"> 
            {% for file in files %}
                <tr>
                    <td>
                        {{file.filename}}
                    </td>
                    <td>
                        <form action='serve/{{file.key()}}' class="stash_form">
                            <input class="stash_button download_button" type='submit' value='Download'>
                        </form>
                    </td>
                    <td>
                        <form method="POST" class="stash_form">
                            <input style="display: none;" type="text" name="file_id" value="{{file.key()}}">
                            <input class="stash_button delete_button" type='submit' value='Delete'>
                        </form>

                    </td>

                </tr>
            {% else %}
                <div class="stash_error">
                    Empty
                </div>
            {% endfor %}
            </table>
            <br>
            <div class="stash_vault_link">
                <a href='/'>Back</a>
            </div>
        </div>
    </body>
</html>