<!DOCTYPE>

<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache">                                 
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/vault.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/scripts/script.js"></script>
        <link href="favicon.ico" rel="icon" type="image/x-icon" />
        <title>
            Success
        </title>
    </head>

    <body id="success_body">
        <div class="success_message">
            File was successfully uploaded
        </div>
        <br>
        <div class="success_back_link">
            <a href='/'>Back</a>
        </div>
    </body>

</html>
