
<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache">                                 
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/stylesheets/vault.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/scripts/script.js"></script>
        <link href="favicon.ico" rel="icon" type="image/x-icon" />
        <title>
            Vault
        </title>
    </head>
    <body id="vault_body">
    <div id="filedrag">
        <div id="title">
            VAULT
        </div>
        <form class="choose_buttons">
            <input id="unlock_radio_button" class="radio_button" type="radio" name="group1" value="unlock" checked>Unlock
            <input id="upload_radio_button" class="radio_button" type="radio" name="group1" value="upload">Upload
        </form>
        <br>


        <div id="just_passphrase_form" class="base_form_class">
            <form method="POST">
                <input class="passphrase_input" type="text" name="passphrase" placeholder="passphrase" value="">
                <br>
                <br>
                <br>
                <input type="submit" class="submit_button" value="Enter">
            </form>
        </div>


        <div id="upload_form" class="base_form_class">
            <form id="upload" action="{{upload_url}}" method="POST" enctype="multipart/form-data">
                <input class="passphrase_input" type="text" name="passphrase" placeholder="passphrase" value="">
                <br>
                <br>
                <input type="file" name="file" />
                <br>
                <br>
                <input type="submit" class="submit_button" value="Upload" />
            </form>
        </div>

        <div id="instructions">
            <br>
            <br>
            Enter your passphrase to get your file or a friend's file
            <br>
            <strong>OR</strong>
            <br>
            1. Click the upload option.
            <br>
            2. Enter a passphrase.
            <br>
            3. Pick a file.
            <br>
            4. Upload.
            {{error_message}}
        </div>
    </div>
    </body>

</html>