* {
    font-family: Century Gothic, sans-serif;
    position: relative;
}

body, html {
    margin: 0 auto;
    height: 98%;
    width: 98%;
}

#vault_body {
    background-color: #a30006;
}

#stash_body {
    background-color: #4C9B45;
}

#success_body {
    background-color: #0E4EAD;
}

#title {
    font-weight: 400;
    font-size: 140px;
    color: white;
    text-align: center;
    margin: 0 0 0 0;
}

#stash_title {
    font-weight: 400;
    font-size: 140px;
    color: white;
    text-align: center;
    margin: 0 0 0 0;
}

.base_form_class {
    text-align: center;
}

.passphrase_input {
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    color: gray;
}

.submit_button {
    font-size: 16px;
    border-radius: 8px;
    border: 1px black solid;
    cursor: pointer;

}

#instructions {
    position: relative;
    bottom: 10px;
    text-align: center;
    color: #1c0113;
}

#upload_form {
    display: none;
}

.choose_buttons {
    text-align: center;
    font-size: 24px;
}

.stash_error {
    text-align: center;
    font-size: 40px;
    color: #a30006;
}

.stash_table {
    width: 600px;
    margin: 0 auto;
    background-color: #EDEDF4;
    border-radius: 10px;
}

.stash_vault_link {
    text-align: center;
    color: #a30006;
    font-size: 20px;
}

td {
    padding: 6px 6px 6px 6px;
    font-size: 20px;

}

tr {
    border-radius: 10px;
    border: none;
}

tr:hover {
    background-color: #9ED54C;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

.success_message {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 100px 0px 0px 0px;
}

.success_back_link {
    text-align: center;
    font-size: 40px;
    color: #a30006;
}

a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}
